[Unit]
Description=Temperature Sensor Logger
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pi_temp_sensor/temp_sensor.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=30
StartLimitInterval=15min
StartLimitBurst=5
User=pi

[Install]
WantedBy=multi-user.target
